extends layout

block content
  h1 Add filter
  form(method='POST' action='/v/add')
    input(type='text' name='name' placeholder='Name')
    br
    input(type='text' name='tags' placeholder='Tags')
    label separate tags with spaces
    br
    input(type='submit' value='Add')
