extends layout

block content
  h1 log in
  form(method='POST' action='/login')
    input(type='text' name='username' placeholder='Username')
    br
    input(type='password' name='password' placeholder='Password')
    br
    input(type='submit' value='log in')
    a(href='/signup') or sign up
