extends layout

block content
  div
    p
      a(href='/v/add' class='button') +
      | Filters

    each quickView in quickViews
      li
        a(href=`/v/${quickView.id}` class='title')= quickView.name
        div(class='controls')
          a(href=`/v/${quickView.id}/edit` class='button') edit
          a(href=`/v/${quickView.id}/delete` class='button') delete
