:root {
  --main-bg1: #111;
  --main-bg2: #222;
  --main-bg3: #444;
  --main-fg1: #808080;
  --main-fg2: white;
  
  --accent1-bg: rgb(25, 98, 120);
  --accent1-fg: white;
}

* {
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 12pt;
  color: var(--main-fg1);
}
h1 {
  font-size: 18pt;
  color: var(--main-fg2);
  font-weight: normal;
}
a {
  margin-right: 8px;
  color: var(--main-fg2);
  text-decoration: none;
}
header a, header span {
  margin-right: 12px;
}
li {
  list-style: none;
  margin-bottom: 20px;
}
span {
  color: var(--main-fg1);
}
body {
  margin: 20px 150px;
  background: var(--main-bg1);
}
header {
  margin-bottom: 20px;
}
header .nav-secondary {
  display: inline-block;
  padding-left: 10px;
}
header .toggle-nav-secondary {
  display: none;
}
.quick-view .bookmark .title {
  font-size: 2.2em;
}
.active {
  font-weight: bold;
}

/* buttons etc */

.tag,
.button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  background: var(--main-bg2);
  border: solid 2px var(--main-bg2);
  border-radius: 12px;
  padding: 0 6px;
  
  text-decoration: none;
  color: var(--main-fg1);
  margin-bottom: 5px;
  margin-right: 10px;
}
.tag,
.tag *,
.button,
input[type="submit"] {
  font-size: 10pt;
}
.tag span {
  margin: 0;
}
.button.round {
  font-size: 14pt;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .tag,
  .button,
  input[type="submit"] {
    font-size: 12pt;
  }
}
form .button,
form input[type="submit"] {
  margin-top: 10px;
  border-radius: 3px;
  /* font-size: 1em; */
  font-size: 10pt;
  padding: 6px 10px;
  border: none;
  /* border: solid 2px var(--accent1-bg); */
}
.tag .action {
  border-right: solid 1px var(--main-bg3);
  border-radius: 50% 0 0 50%;
  width: 20px;
  height: 20px;
  margin: 0 6px 0 -6px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.controls {
  margin-top: 8px;
}
.button, input[type="submit"] {
  /* background: var(--accent1-bg); */
  background: none;
  border-color: var(--accent1-bg);
  color: var(--accent1-fg);
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: none;
  margin-bottom: 5px;
  color: var(--main-fg2);
  background: var(--main-bg2);
}

code {
  font-family: monospace;
}
@media only screen and (max-width: 900px) {
  * {
    font-size: 14pt;
  }
  body {
    margin: 10px;
  }
  header .button {
    font-size: 20pt;
    /* padding: 0 14px 4px 14px; */
    /* border-radius: 50%; */
  }
  header .toggle-nav-secondary {
    z-index: 100;
    display: inline-block;
    position: absolute;
    right: 0;
  }
  header .nav-secondary {
    display: none;
  }
  header .nav-secondary > * {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  header .nav-secondary.active {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    padding: 10px;
    background: var(--main-bg1);
  }
  header .nav-secondary .nav-separator {
    visibility: hidden;
  }
}
